.title {
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  text-align: right;
  font-size: 2rem;
  color: rgb(3, 59, 3);
  background-color: rgb(156, 158, 154);
  margin-bottom: 50px;
  padding: 20px;
}
